<a href="https://colab.research.google.com/github/ViqriRamadhann/latihan_data_scientist/blob/main/Tugas_besar_1_DSA_(5)_(6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAMA PESERTA : VIQRI RAMADHAN WALUYA ; TUGAS BESAR 1

1.tampilkan output : "Hallo saya siap belajar bahasa pemprograman python" dengan menggunakan print()

In [ ]:
print("Hallo saya siap belajar bahasa pemprograman python")

Hallo saya siap belajar bahasa pemprograman python

2.Cek tipe data dari 20/5

In [ ]:
print(type(20/5))

<class 'float'>

3.Konversi 0 ke boolean!

In [ ]:
print(bool(0))

False

4.Buatlah variabel firstname dan variable lastname dengan nama anda lalu print hasilnya

In [ ]:
#Contoh
firtsname = 'Muhammad'
lastname = 'Naufal'
print("nama depan:",firtsname)
print("nama belakang:",lastname)

nama depan: Muhammad
nama belakang: Naufal

In [ ]:
firstname = "Viqri"
lastname = "Waluya"

print(firstname)
print(lastname)

Viqri
Waluya

5.Buatlah variabel "a" berupa angka interger dan variabel "b" berupa angka interger (angka bebas)

*   print(a+b)
*   Lihatlah hasil pembagian a dan b lalu buatlah menjadi interger

* print(a*b)
* print a pangkat b

In [ ]:
#Contoh
a = 10
b = 5
print(a+b)
print(a/b) #hasil float
print(a//b) #hasil interger
print(a*b)
print(a**b)

15
2.0
2
50
100000

In [ ]:
a = 5  # Bisa diganti angka lain
b = 3  # Bisa diganti angka lain

# Menampilkan hasil penjumlahan
print(a + b)

# Hasil pembagian dan konversi jadi integer
print(int(a / b))

# Menampilkan hasil perkalian
print(a * b)

# Menampilkan hasil pangkat (a^b)
print(a ** b)

8
1
15
125

6.Hitunglah total harga dari 3 buah penghapus seharga 3500, 5 buah buku seharga 25000

In [ ]:
harga_penghapus = 3500
jumlah_penghapus = 3

harga_buku = 25000
jumlah_buku = 5

total_penghapus = harga_penghapus * jumlah_penghapus
total_buku = harga_buku * jumlah_buku

total_harga = total_penghapus + total_buku

print(total_harga)

135500

7.Harga sebuah barang adalah 750000, hitunglah harga barang setelah mendapat potongan harga 45%!

In [ ]:
harga_barang = 750000
potongan = 45 / 100  # 45% dalam bentuk desimal

harga_setelah_potongan = harga_barang - (harga_barang * potongan)

print(harga_setelah_potongan)

412500.0

8.Ambil indeks ke 2 dari string "Python itu asik"

In [ ]:
#contoh indexing
teks = 'Belajar itu asik'
teks[2] #ambil index ke 2

'l'

In [ ]:
kalimat = "Python itu asik"
karakter_ke2 = kalimat[2]

print(karakter_ke2)

t

9.Ambil kata "yuk" dari string "ayuk"

In [ ]:
kata = "ayuk"
ambil_kata = kata[1:]

print(ambil_kata)

yuk

10.Keluarkan output "Akhirnya selesai"

In [ ]:
print("Akhirnya selesai")

Akhirnya selesai

11.Gabungkan list a = [1,'hallo', 2,3] dengan list b = ['pagi', 1000]

In [ ]:
#Cara gabungkan list
a = ['test',1,2]
b = [3,4,5]
a+b

['test', 1, 2, 3, 4, 5]

In [ ]:
a = [1, 'hallo', 2, 3]
b = ['pagi', 1000]

gabungan = a + b

print(gabungan)

[1, 'hallo', 2, 3, 'pagi', 1000]

12.Buatlah sebuah list new_list yang berisi indonesia, True, 7, [1, 2, 3], 1.5

In [ ]:
#Cara buat nested list
contoh = ['malaysia',True,[9,8,7],2.5] #isi list hanya contoh
contoh

['malaysia', True, [9, 8, 7], 2.5]

In [ ]:
new_list = ["indonesia", True, 7, [1, 2, 3], 1.5]

print(new_list)

['indonesia', True, 7, [1, 2, 3], 1.5]

13.Ambil elemen list pada indeks 2 dari list new_list

In [ ]:
#Contoh indexing list indeks
contoh = ['malaysia',True,[9,8,7],2.5] #isi list hanya contoh
contoh[2]

[9, 8, 7]

In [ ]:
elemen_indeks_2 = new_list[2]

print(elemen_indeks_2)

7

14.Ambil elemen list pada indeks 1, 2, 3 dari list new_list !

In [ ]:
#cara slicing
contoh[1:4]

[True, [9, 8, 7], 2.5]

In [ ]:
elemen_1_2_3 = new_list[1:4]

print(elemen_1_2_3)

[True, 7, [1, 2, 3]]

15.Hapus 1.5 pada list new_list

In [ ]:
#cara hapus isi list
contoh.remove(2.5)
contoh

['malaysia', True, [9, 8, 7]]

In [ ]:
new_list.remove(1.5)

print(new_list)

['indonesia', True, 7, [1, 2, 3]]

-Selamat mengerjakan-